.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 10px;
  border: 2px solid #5468ff;
  border-radius: 10px;

  &__link {
    text-decoration: none;
  }

  &__title {
    color: #5468ff;
  }

  &__price-tag {
    color: #3c4fe0;
    font-weight: bold;
  }

  &__description {
    flex-grow: 1;
    margin-bottom: 15px;

    color: #5468ff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
